<table mat-table [dataSource]="dataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Project ID Column -->
    <ng-container matColumnDef="projectId">
      <th mat-header-cell *matHeaderCellDef> Project ID </th>
      <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
    </ng-container>
  
    <!-- Risk Type Column -->
    <ng-container matColumnDef="riskType">
      <th mat-header-cell *matHeaderCellDef> Risk Type </th>
      <td mat-cell *matCellDef="let element"> {{element.riskType}} </td>
    </ng-container>
  
    <!-- Severity Column -->
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef> Severity </th>
      <td mat-cell *matCellDef="let element"> {{element.severity}} </td>
    </ng-container>
  
    <!-- Impact Column -->
    <ng-container matColumnDef="impact">
      <th mat-header-cell *matHeaderCellDef> Impact </th>
      <td mat-cell *matCellDef="let element"> {{element.impact}} </td>
    </ng-container>
  
    <!-- Remediation Steps Column -->
    <ng-container matColumnDef="remediationSteps">
      <th mat-header-cell *matHeaderCellDef> Remediation Steps </th>
      <td mat-cell *matCellDef="let element"> {{element.remediationSteps.join(', ')}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  